<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.core.dao.WgActRuleMapper" >
  <resultMap id="BaseResultMap" type="com.cc.app.core.model.WgActRule" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACT_ID" property="actId" jdbcType="VARCHAR" />
    <result column="RULE_ID" property="ruleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ACT_ID, RULE_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cc.app.core.model.WgActRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cc_core_wg_act_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cc_core_wg_act_rule
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cc_core_wg_act_rule
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cc.app.core.model.WgActRuleExample" >
    delete from cc_core_wg_act_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cc.app.core.model.WgActRule" >
    insert into cc_core_wg_act_rule (ID, ACT_ID, RULE_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{actId,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cc.app.core.model.WgActRule" >
    insert into cc_core_wg_act_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="actId != null" >
        ACT_ID,
      </if>
      <if test="ruleId != null" >
        RULE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="actId != null" >
        #{actId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cc.app.core.model.WgActRuleExample" resultType="java.lang.Integer" >
    select count(*) from cc_core_wg_act_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cc_core_wg_act_rule
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.actId != null" >
        ACT_ID = #{record.actId,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleId != null" >
        RULE_ID = #{record.ruleId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cc_core_wg_act_rule
    set ID = #{record.id,jdbcType=VARCHAR},
      ACT_ID = #{record.actId,jdbcType=VARCHAR},
      RULE_ID = #{record.ruleId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.app.core.model.WgActRule" >
    update cc_core_wg_act_rule
    <set >
      <if test="actId != null" >
        ACT_ID = #{actId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        RULE_ID = #{ruleId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.app.core.model.WgActRule" >
    update cc_core_wg_act_rule
    set ACT_ID = #{actId,jdbcType=VARCHAR},
      RULE_ID = #{ruleId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into cc_core_wg_act_rule (ID, ACT_ID, RULE_ID
      )
    values
    <foreach collection ="list" item="record" index= "index" separator =",">
    (#{record.id,jdbcType=VARCHAR}, #{record.actId,jdbcType=VARCHAR}, #{record.ruleId,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <select id="getWgRuleListByActId" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
    t1.ID, t1.RULE_NO, t1.RULE_NAME
    from cc_core_wg_act_rule t
    inner join cc_core_wg_rule t1 on t.RULE_ID = t1.ID
    where 1=1
    and t.ACT_ID = #{actId,jdbcType=VARCHAR}
    order by t1.CRT_TIME
  </select>
</mapper>