<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.core.dao.WgImgMapper" >
  <resultMap id="BaseResultMap" type="com.cc.app.core.model.WgImg" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BUSI_ID" property="busiId" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="SEQNO" property="seqno" jdbcType="INTEGER" />
    <result column="IS_OUT" property="isOut" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, BUSI_ID, IMG_URL, CRT_TIME, SEQNO, IS_OUT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cc.app.core.model.WgImgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cc_core_wg_img
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cc_core_wg_img
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cc_core_wg_img
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cc.app.core.model.WgImgExample" >
    delete from cc_core_wg_img
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cc.app.core.model.WgImg" >
    insert into cc_core_wg_img (ID, BUSI_ID, IMG_URL, 
      CRT_TIME, SEQNO, IS_OUT
      )
    values (#{id,jdbcType=VARCHAR}, #{busiId,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{seqno,jdbcType=INTEGER}, #{isOut,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cc.app.core.model.WgImg" >
    insert into cc_core_wg_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="busiId != null" >
        BUSI_ID,
      </if>
      <if test="imgUrl != null" >
        IMG_URL,
      </if>
      <if test="crtTime != null" >
        CRT_TIME,
      </if>
      <if test="seqno != null" >
        SEQNO,
      </if>
      <if test="isOut != null" >
        IS_OUT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="seqno != null" >
        #{seqno,jdbcType=INTEGER},
      </if>
      <if test="isOut != null" >
        #{isOut,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cc.app.core.model.WgImgExample" resultType="java.lang.Integer" >
    select count(*) from cc_core_wg_img
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cc_core_wg_img
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.busiId != null" >
        BUSI_ID = #{record.busiId,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTime != null" >
        CRT_TIME = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.seqno != null" >
        SEQNO = #{record.seqno,jdbcType=INTEGER},
      </if>
      <if test="record.isOut != null" >
        IS_OUT = #{record.isOut,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cc_core_wg_img
    set ID = #{record.id,jdbcType=VARCHAR},
      BUSI_ID = #{record.busiId,jdbcType=VARCHAR},
      IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      CRT_TIME = #{record.crtTime,jdbcType=TIMESTAMP},
      SEQNO = #{record.seqno,jdbcType=INTEGER},
      IS_OUT = #{record.isOut,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.app.core.model.WgImg" >
    update cc_core_wg_img
    <set >
      <if test="busiId != null" >
        BUSI_ID = #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="seqno != null" >
        SEQNO = #{seqno,jdbcType=INTEGER},
      </if>
      <if test="isOut != null" >
        IS_OUT = #{isOut,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.app.core.model.WgImg" >
    update cc_core_wg_img
    set BUSI_ID = #{busiId,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      SEQNO = #{seqno,jdbcType=INTEGER},
      IS_OUT = #{isOut,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectWgImgListByActId" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
    select
    t.ID "pid", case t.IS_OUT when '0' then concat('${fileServerUrl}', '/', t.IMG_URL) else t.IMG_URL end "src", null as "thumb", null as "alt"
    from cc_core_wg_img t
    where 1=1
    and t.BUSI_ID = #{id,jdbcType=VARCHAR}
    order by t.SEQNO
  </select>

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into cc_core_wg_img (ID, BUSI_ID, IMG_URL,
    CRT_TIME, SEQNO, IS_OUT)
    values
    <foreach collection ="list" item="record" index= "index" separator =",">
      (#{record.id,jdbcType=VARCHAR}, #{record.busiId,jdbcType=VARCHAR}, #{record.imgUrl,jdbcType=VARCHAR},
      #{record.crtTime,jdbcType=TIMESTAMP}, #{record.seqno,jdbcType=INTEGER}, #{record.isOut,jdbcType=VARCHAR})
    </foreach>
  </insert>

</mapper>