<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.app.core.dao.WgRuleMapper" >
  <resultMap id="BaseResultMap" type="com.cc.app.core.model.WgRule" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RULE_NO" property="ruleNo" jdbcType="VARCHAR" />
    <result column="RULE_NAME" property="ruleName" jdbcType="VARCHAR" />
    <result column="RULE_DESC" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_OPR" property="crtOpr" jdbcType="VARCHAR" />
    <result column="LST_TIME" property="lstTime" jdbcType="TIMESTAMP" />
    <result column="LST_OPR" property="lstOpr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RULE_NO, RULE_NAME, RULE_DESC, STATUS, CRT_TIME, CRT_OPR, LST_TIME, LST_OPR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cc.app.core.model.WgRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cc_core_wg_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cc_core_wg_rule
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cc_core_wg_rule
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cc.app.core.model.WgRuleExample" >
    delete from cc_core_wg_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cc.app.core.model.WgRule" >
    insert into cc_core_wg_rule (ID, RULE_NO, RULE_NAME, 
      RULE_DESC, STATUS, CRT_TIME, 
      CRT_OPR, LST_TIME, LST_OPR
      )
    values (#{id,jdbcType=VARCHAR}, #{ruleNo,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, 
      #{ruleDesc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{crtOpr,jdbcType=VARCHAR}, #{lstTime,jdbcType=TIMESTAMP}, #{lstOpr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cc.app.core.model.WgRule" >
    insert into cc_core_wg_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ruleNo != null" >
        RULE_NO,
      </if>
      <if test="ruleName != null" >
        RULE_NAME,
      </if>
      <if test="ruleDesc != null" >
        RULE_DESC,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="crtTime != null" >
        CRT_TIME,
      </if>
      <if test="crtOpr != null" >
        CRT_OPR,
      </if>
      <if test="lstTime != null" >
        LST_TIME,
      </if>
      <if test="lstOpr != null" >
        LST_OPR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ruleNo != null" >
        #{ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtOpr != null" >
        #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="lstTime != null" >
        #{lstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstOpr != null" >
        #{lstOpr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cc.app.core.model.WgRuleExample" resultType="java.lang.Integer" >
    select count(*) from cc_core_wg_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cc_core_wg_rule
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleNo != null" >
        RULE_NO = #{record.ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleName != null" >
        RULE_NAME = #{record.ruleName,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleDesc != null" >
        RULE_DESC = #{record.ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTime != null" >
        CRT_TIME = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtOpr != null" >
        CRT_OPR = #{record.crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="record.lstTime != null" >
        LST_TIME = #{record.lstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lstOpr != null" >
        LST_OPR = #{record.lstOpr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cc_core_wg_rule
    set ID = #{record.id,jdbcType=VARCHAR},
      RULE_NO = #{record.ruleNo,jdbcType=VARCHAR},
      RULE_NAME = #{record.ruleName,jdbcType=VARCHAR},
      RULE_DESC = #{record.ruleDesc,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CRT_TIME = #{record.crtTime,jdbcType=TIMESTAMP},
      CRT_OPR = #{record.crtOpr,jdbcType=VARCHAR},
      LST_TIME = #{record.lstTime,jdbcType=TIMESTAMP},
      LST_OPR = #{record.lstOpr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.app.core.model.WgRule" >
    update cc_core_wg_rule
    <set >
      <if test="ruleNo != null" >
        RULE_NO = #{ruleNo,jdbcType=VARCHAR},
      </if>
      <if test="ruleName != null" >
        RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        RULE_DESC = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtOpr != null" >
        CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      </if>
      <if test="lstTime != null" >
        LST_TIME = #{lstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstOpr != null" >
        LST_OPR = #{lstOpr,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.app.core.model.WgRule" >
    update cc_core_wg_rule
    set RULE_NO = #{ruleNo,jdbcType=VARCHAR},
      RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      RULE_DESC = #{ruleDesc,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      CRT_OPR = #{crtOpr,jdbcType=VARCHAR},
      LST_TIME = #{lstTime,jdbcType=TIMESTAMP},
      LST_OPR = #{lstOpr,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryPageList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    select t.* from cc_core_wg_rule t
    where 1=1
    <if test='ruleName != null and ruleName !=""' >
      and t.RULE_NAME like #{ruleName,jdbcType=VARCHAR}
    </if>
    <if test='ruleNo != null and ruleNo != ""'>
      and t.RULE_NO = #{ruleNo,jdbcType=VARCHAR}
    </if>
    <if test='status != null and status !=""' >
      and t.STATUS = #{status,jdbcType=VARCHAR}
    </if>
    order by t.CRT_TIME desc
  </select>

  <select id="getInfo" resultType="java.util.Map" parameterType="java.lang.String" >
    select
    *
    from cc_core_wg_rule
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findDic" resultType="java.util.HashMap" parameterType="map">
    select
    ID "value", RULE_NAME "name"
    from cc_core_wg_rule
    where 1=1
    and STATUS = '1'
    order by CRT_TIME
  </select>

  <select id="queryPageList_app" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    select ID, RULE_NO, RULE_NAME, RULE_DESC
    from cc_core_wg_rule t
    where 1=1
    and t.STATUS = '1'
    <if test='ruleName != null and ruleName !=""' >
      and t.RULE_NAME like #{ruleName,jdbcType=VARCHAR}
    </if>
    order by t.CRT_TIME
  </select>

</mapper>